html {
    font-size: 16px;
}

body {
    min-width: 200px;
    min-height: 300px;
}

button {
    font-size: 1.5rem;
}

div.progress {
    background-color:cadetblue;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
    animation: 1s linear infinite progressbar;
}
@keyframes progressbar {
    0% {
        background-position-x: 1rem;
    }
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.w-100 {
    width: 100%;
}

.mt-2 {
    margin-top: 0.5rem;
}

.p-2 {
    padding: 0.5rem;
}

.p-4 {
    padding: 1rem;
}

.text-center {
    text-align: center;
}

.f1 {
    font-size: 0.5rem;
}

.f2 {
    font-size: 1rem;
}

.f3 {
    font-size: 1.5rem;
}

.f4 {
    font-size: 2.0rem;
}